//
// Copyright (C) 2013 Chris McClelland
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//  
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
#include <windows.h>
#include "resource.h"

// Dialog resources
//
IDD_MAINDIALOG DIALOG 0, 0, 384, 190
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "MakeStuff Development Environment Setup"
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "C/C++ Compiler", IDC_STATIC, 4, 4, 186, 80
    COMBOBOX        IDC_COMPILERLIST, 8, 15, 178, 13, WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    CONTROL         "hello <a href=""bar"">foo</a>", IDC_COMPILERINFO, "SysLink", 0x50020000, 8, 31, 178, 48

    GROUPBOX        "Python Interpreter", IDC_STATIC, 194, 4, 186, 80
    COMBOBOX        IDC_PYTHONLIST, 198, 15, 177, 14, WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    CONTROL         "hello <a href=""bar"">foo</a>", IDC_PYTHONINFO, "SysLink", 0x50020000, 198, 31, 178, 48

    GROUPBOX        "Xilinx ISE", IDC_STATIC, 4, 87, 186, 80
    COMBOBOX        IDC_XILINXLIST, 8, 97, 178, 13, WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    CONTROL         "hello <a href=""bar"">foo</a>", IDC_XILINXINFO, "SysLink", 0x50020000, 8, 114, 178, 48

    GROUPBOX        "Shortcut Name", IDC_STATIC, 194, 87, 186, 80
    EDITTEXT        IDC_LINKNAME, 198, 97, 178, 13, ES_AUTOHSCROLL

    PUSHBUTTON      "Refresh", IDC_REFRESH, 32, 172, 64, 14
    PUSHBUTTON      "Create Shortcut", IDOK, 160, 172, 64, 15
    PUSHBUTTON      "Cancel", IDCANCEL, 288, 172, 64, 15
}

// Manifest resources
//
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST    "application.manifest"

